@model WebAppTesting.Domain.ViewModel.Account.RegisterViewModel

<h1>Реєстрація</h1>
<br>
<div class="col-4">
    <form asp-controller="Account" asp-action="Register" id="add_form">

        <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>

        <div class="form-group">
            <label for="exampleInputEmail1">Логін</label>
            <input asp-for="Name" type="text" class="form-control" id="exampleInputname1" aria-describedby="namelHelp" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Пароль</label>
            <input autocomplete="new-password" asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Підтвердження паролю</label>
            <input autocomplete="new-password" asp-for="PasswordConfirm" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-primary">Зареєструватися</button>
    </form>
</div>